* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: JejuMyeongjo-regular;
    src: url(../fonts/JejuMyeongjo-Regular.ttf);
}

body {
    background: #F5F5F5;
}

.paragraph-name {
    width: 226px;
    height: 17px;
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}

.name-container {
    width: 60%;
    height: 10%;
    margin-top: 73px;
    margin-left: 170px;
    display: inline-block;

}

nav {
    display: inline-block;
    position: absolute;
    margin-top: 66px;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-right: 25px;
    width: 400px;
    height: 300px;
}

a:hover {
    background: #d2cdcdcb;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 64px;
}

.my-description {
    width: 367px;
    height: 64px;
    font-family: JejuMyeongjo-regular;
    font-size: 32px;
    line-height: 32px;
}

.img-container {
    margin-top: 100px;
}

.final-description {
    width: 432px;
    height: 64px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 24px;
    line-height: 32px;
    margin-top: 50px;
}

.left-section {
    margin: 110px 0 0 238px;
    display: block;
}

.about-left-container {
    margin-top: 150px;
    margin-left: 200px;
    display: inline-block;
}

.perfil-photo {
    width: 400px;
    height: 400px;
}

.about-right-container {
    display: inline-block;
    position: absolute;

    margin: 250px 0 0 100px;
}


.about-me {
    width: 450px;
    height: 300px;
    font-size: 24px;
    font-family: 'JetBrains Mono', monospace;
}

.technology-html-css-javascript {
    width: 170px;
    height: 100px;
    margin-top: -100px;
}

.container {
    background: #fefefe;
    width: 1140px;
    height: 920px;
    margin: 200px 0 0 200px;
}

.box-website-1 {
    width: 470px;
    height: 260px;
    background: #d2cdcdcb;
    margin-left: 60px;
    position: absolute;
    margin-top: 30px;
    border-radius: 30px;
}

.img-site-1 {
    padding-top: 45px;
    padding-left: 45px;
}

.box-website-2 {
    width: 470px;
    height: 260px;
    background: #d2cdcdcb;
    margin-left: 610px;
    position: absolute;
    margin-top: 30px;
    border-radius: 30px;
}

.box-website-1:hover {
    box-shadow: 5px 5px 5px rgb(175, 1, 1);
    cursor: pointer;
}

.box-website-2:hover {
    box-shadow: 5px 5px 5px rgb(175, 1, 1);
    cursor: pointer;
}

.img-site-2 {
    width: 427px;
    height: 220px;
    padding-top: 45px;
    padding-left: 45px;
}

.box-website-3 {
    width: 470px;
    height: 260px;
    background: #d2cdcdcb;
    position: absolute;
    margin-top: 325px;
    margin-left: 60px;
    border-radius: 30px;
}

.img-site-3 {
    padding-top: 45px;
    padding-left: 45px;
    width: 427px;
    height: 220px;
}

.box-website-3:hover {
    box-shadow: 5px 5px 5px rgb(175, 1, 1);
    cursor: pointer;
}

.box-website-4 {
    width: 470px;
    height: 260px;
    background: #d2cdcdcb;
    position: absolute;
    margin-left: 610px;
    margin-top: 325px;
    border-radius: 30px;
}

.img-site-4 {
    padding-top: 45px;
    padding-left: 45px;
    width: 427px;
    height: 220px;

}

.box-website-4:hover {
    box-shadow: 5px 5px 5px rgb(175, 1, 1);
    cursor: pointer;
}

.box-website-5 {
    width: 470px;
    height: 260px;
    background: #d2cdcdcb;
    position: absolute;
    margin-top: 645px;
    margin-left: 60px;
    border-radius: 30px;
}

.img-site-5 {
    padding-top: 45px;
    padding-left: 45px;
    width: 427px;
    height: 220px;
}

.box-website-5:hover {
    box-shadow: 5px 5px 5px rgb(175, 1, 1);
    cursor: pointer;
}

.box-website-6 {
    width: 470px;
    height: 260px;
    background: #d2cdcdcb;
    position: absolute;
    margin-top: 645px;
    border-radius: 30px;
    margin-left: 610px;
}

.img-site-6 {
    padding-top: 45px;
    padding-left: 45px;
    width: 427px;
    height: 220px;
}

.box-website-6:hover {
    box-shadow: 5px 5px 5px rgb(175, 1, 1);
    cursor: pointer;
}

.box-content-linkedin {
    width: 300px;
    height: 200px;
    background: #fefefe;
    margin-top: 50px;
    margin-left: 200px;
}

.text-title-project {
    font-size: 24px;
    font-family: 'JetBrains Mono', monospace;
    margin-left: 520px;
    position: absolute;
    margin-top: 20px;
    text-decoration: underline;
}